<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration   PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="Document" type="cn.nexuslink.pojo.Document" />
        <typeAlias alias="Member" type="cn.nexuslink.pojo.Member"/>
        <typeAlias alias="Signment" type="cn.nexuslink.pojo.Signment"/>
    </typeAliases>
</configuration>
